@base00: #040305;
@base01: #161116;
@base02: #29232a;
@base03: #443a45;
@base04: #675967;
@base05: #907d91;
@base06: #baabba;
@base07: #e6e1e6;
@base08: #7fe8e2;
@base09: #6ed4ce;
@base0A: #f7b5bc;
@base0B: #9cc4f8;
@base0C: #dab537;
@base0D: #7face2;
@base0E: #eb97a0;
@base0F: #c7ab63;
