@base00: #000000;
@base01: #101110;
@base02: #222423;
@base03: #3a3d3c;
@base04: #585d5b;
@base05: #7d8381;
@base06: #a9b1ae;
@base07: #dbe5e1;
@base08: #f5d1de;
@base09: #84e0c5;
@base0A: #efa350;
@base0B: #fbb97d;
@base0C: #63b3d1;
@base0D: #f5dbca;
@base0E: #5ad1fa;
@base0F: #6abda5;
