@import "colorsgen";

@very-dark-gray: @base00; // Background
@dark-gray: @base02; // Current Line & Selection
@gray: #666666;
@light-gray: #999999;
@very-light-gray: @base05; // Foreground

@blue: @base03; // Comment
@cyan: @base08;
@soft-cyan: @base07;
@green: @base0A;
@pink: @base0E;
@purple: @base06;
@yellow: @base0B;
@orange: @base08;
@red: @base0D;
@dark-yellow: @base0D;

@sandstone: #cfcfc2;
@lace: #f8f8f0;
@white: #ffffff;
@black: #000000;
